html{
	height: 100%;
	background:#f4f4f4;
}

body{
	margin:0;
}

/* Typefaces
----------------------------------*/
@font-face {
    font-family: "HKGroteskPro-SemiBold";
    src: url(fonts/HKGroteskPro-SemiBold.woff) format("woff");
}
@font-face {
    font-family: "HKGroteskPro-Regular";
    src: url(fonts/HKGroteskPro-Regular.woff) format("woff");
}
@font-face {
    font-family: "HKGroteskPro-Light";
    src: url(fonts/HKGroteskPro-Light.woff) format("woff");
}
@font-face {
    font-family: "HKGroteskPro-Black";
    src: url(fonts/HKGroteskPro-Black.woff) format("woff");
}
/* White Site Frame
----------------------------------*/
.site-frame{
	margin:45px;
	height:100%;
}

/* Global
----------------------------------*/
h1{
	font-size:7.5rem;
	font-family: 'HKGroteskPro-SemiBold'; sans-serif;
	color: #272727;

}
h2{
	font-size: 5rem;
	font-family: 'HKGroteskPro-semibold'; sans-serif;

}

h3{
	font-size: 1.25rem;
	font-family: "Courier New", Courier, monospace;
	color: #FF6666;
	font-weight: 400;
}

h4{
	font-family: 'HKGroteskPro-light'; sans-serif;
	font-size: 1rem;
	color: #FF6666;
	letter-spacing: 0.09375rem;
	padding:40px 0 20px 0;margin: 0;
}

h5{
font-family: "Courier New", Courier, monospace;
font-size: 0.875rem;
font-weight: 300;
color: #999999 ;
padding-top: 20px; margin:0;
}

p{
	font-family: 'HKGroteskPro-Light'; sans-serif;
	font-size: 1.125rem;
	color: #16161D;
	font-weight: 300;
	line-height: 2rem;
	padding:10px 0;margin:0;
}



/* Top Container
----------------------------------*/
.container {
  max-width: 1440px;
  height: 100%;
  margin: 45px;
  padding:0px;
  border-radius: 3px 3px 3px 3px;
  margin: 0 auto;
	background:#fff;
	z-index:-10;
}
.spacer.s0{
	min-height: 1px;
}

/* Flex Grids
----------------------------------*/
.flex-header{
	flex-wrap:wrap;
	justify-content: space-between;
}

.flex-center{
	justify-content: center;
}

v

.flex-column{
	flex-flow: wrap column;
}

.flex-start{
	justify-content: flex-start;
}

/* Background Colours
----------------------------------*/

.grey{
	background:#f4f4f4;
}

.blue{
	background:#0099FF;
}

.white{
	color:#FFF;
}

.charcoal{
		color:#272727;
}

.rounded-corners{
	border-radius: 0px 0px 3px 3px;
}

/* Header
----------------------------------*/

.header-desktop{
	padding:60px 60px 0 60px;
}

.social{
	display: flex;
}
.social li{
	padding-left:32px;
}

.header-content{
	list-style:none;
	display:flex;
	margin:0; padding:0;
}

.header-mobile{
	padding:60px 60px 0 60px;
	display:none;
}

.header-desktop a{
	color:#5B5B60;
}

.header-desktop a:hover{
	color:#FF6666;
}

.header-mobile a{
	color:#5B5B60;
}

.header-mobile a:hover{
	color:#FF6666;
}

.song-title{
	color:#FF6666;
	font-family: 'HKGroteskPro-SemiBold'; sans-serif;
}

.song-artist{
	color:#FF6666;
	font-family: 'HKGroteskPro-Light'; sans-serif;
}

ul.header-content{
	padding-left: 0;
	font-family: 'HKGroteskPro-Regular'; sans-serif;
	color:#5B5B60;
}

.project-image{
	width:100%;
	max-width: 1028px;
}


/* Footer
----------------------------------*/
.footer{
	max-width: 1440px;
  height: 100%;
  padding:0px;
  margin: 0 auto;
	z-index:-10;
}
.footer-content{
	list-style:none;
	display:flex;
	margin:0; padding:0;
}

.footer-container {
  max-width: 1440px;
  height: 100%;
  margin: 45px;
  padding:0px;
  border-radius: 3px 3px 3px 3px;
  margin: 0 auto;
	z-index:-10;
}

.footer-container-mobile{
	display:none;
	max-width: 1440px;
  height: 100%;
  margin: 45px;
  padding-bottom:20px;
  border-radius: 3px 3px 3px 3px;
  margin: 0 auto;
	z-index:-10;
}



/* Home Intro Section
----------------------------------*/

.intro{
	display:flex;
	max-width:1440px;
	justify-content: center;
	height:70vh;
}

.intro-text{
	display:flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align:center;
	padding:0;

}

.intro-text h2{
	margin:0; padding:0;
}

/* Home Project Links
----------------------------------*/

.project-container{
	display:flex;
	justify-content: center;
	width:100%;
}

.project-content{
	display:flex;
	justify-content: space-between;
	position:relative;
	width:100%;
	height:40vh;
	padding-bottom: 60px;
	max-width: 1000px;
}

.project-image{
	position:relative;
	width:80%;
	padding:0 30px 0 0;
	max-width: 550px;
	align-self: center;
}

.project-text{
	width:400px;
	padding:0 0 0 30px;
	position: relative;
	align-self: center;
}



/* Home Page Underline Animation
----------------------------------*/

a{
	text-decoration: none;
}

.underline {;
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #0099ff 50%);
  background-position: 0 78%; /* position it at the bottom left */
  background-repeat: repeat-x; /* make it repeat horizontally only (so the fixed height is apparent) */
  background-size: 200% 10px; /* set a fixed height */
  transition: background-position 0.5s;

}

.underline:hover {
  background-position: -100% 78%; /* move it to the right, keeping it at the bottom */
}


.underline:active, .underline:visited {
	color:##272727;
}

.underline:visited{
	color:#272727;
}

.project-text h2{
	font-size: 4.375rem;
	padding:0;margin: 0;
	letter-spacing: 1px;
	line-height: 62px;
	display: inline-block;
  position: relative;
  padding-bottom: 0px;
}

/* Project Page Header
----------------------------------*/


.project-header{
	display:flex;
	justify-content: flex-end;
	flex-flow: column;
	align-items: center;
	position:relative;
	width:100%;
	padding:0;margin:0;
	height:700px;
	z-index: 1;
}

.project-img{
	position:absolute;
	top:40px;
	max-width: 1028px;
	width:100%;
}

.project-colour{
	background: #0099FF;
	padding:0;margin:0;
	height:390px;
	width:100%;
	z-index: 1;
	mix-blend-mode: multiply;
}

.project-title{
	position:relative;
	top:62px;
	padding:0 20px;margin:0;
	z-index:3;
}

/* Medium Container (930px)
----------------------------------*/

.challenge-container{
	padding: 270px 40px 50px 40px;
	display:flex;
}

.section-padding{
	display:flex;
	padding: 140px 40px 0px 40px;
}

.section-full{
	display:flex;
	padding-top:140px;
}

.medium-container-ch{
	max-width: 930px;
}

.medium-container-ch h2{
	font-size: 2.8125rem;
	line-height: 65px;
	margin: 0; padding: 0;
}

.medium-container-ch h4{
	padding: 0 0 20px 0;
}

.medium-container{
	max-width: 930px;
	width:100%;
}

.skateboard-render{
	position:relative;
	width:100%;
	padding:0; margin: 0;
	max-width: 930px;
}
.skateboard-render-static{
	position:relative;
	width:100%;
	padding:0; margin: 0;
	max-width: 930px;
	display:none;
}

.content-container{
	max-width: 690px;
}

/* Large Image (Full Width)
----------------------------------*/


.image-span-container img{
	width:100%;
}

/* Technical Pull Quote (Full Width)
----------------------------------*/

.pull-tech-color{
	display:flex;
	align-items: center;
	width:100%;
}

.pull-tech{
	display:flex;
	max-width: 930px;
	width:100%;
	margin:80px 40px 80px 40px;
}

.pull-tech-img{
	display:flex;
	max-width: 930px;
	width:100%;
	margin:0px 40px 0px 40px;
	}


.pull-tech-c{
	display:flex;
	align-items: center;
	background:#0099FF;
	width:100%;
}

.pull-tech-text h2{
	font-size: 2.1875rem;
	line-height: 55px;
	padding-right: 15px;
	max-width:450px;
}
.pull-tech-text p, .pull-tech-text h4{
	color:#fff;
	max-width:450px;
	font-size: 300;
}

.pull-tech-drawing{
	position:relative;
	width:80%;
	max-width: 400px;
	padding-left: 15px;
	align-self: center;
}

.pull-tech-drawing-c{
	position:relative;
	align-self: center;
	width:80%;
	padding:20px;
	max-width: 200px;
	max-height:321px;
}

/* Text Pull Quote (Full Width)
----------------------------------*/

.pull-quote{
	margin:140px 40px 140px 40px;
	max-width: 930px;
}


.pull-quote h2 {
	color:#FFF;
	font-size: 2.8125rem;
	line-height: 65px;
	padding:0;margin:0;
}

.pull-quote h4{
	color:#FFF;
	padding:0 0 20px 0;margin: 0;
}

/* Double Image (Full Width)
----------------------------------*/
.image-double-container{
	display:flex;
	background:#FFF;
	width:100%;
}
.image-double img{
	position:relative;
	width:100%;
	max-width: 450px
}

.cto-text h2{
font-size: 2.1875rem;
	line-height: 55px;
	padding-right: 15px;
	max-width:450px;
}

.cto-text h4{
	border-radius: 3px;
	border-width: 2px;
	border-style:solid;
	color:white;
	width: 100%;
	max-width:145px;
	padding:10px 45px 10px 45px;
}


/* Mobile
----------------------------------*/
@media only screen and (max-width: 750px) {
.site-frame{
	height:100%;
	margin:0;padding:0;
}

.footer-container-mobile{
	display:block;
}
.cto-text{
	padding-bottom:40px;
}
.footer-container{
	display:none;
}
.pull-tech > .flex-sb{
	flex-direction:column;
	align-items: center;
}


.container {
  max-width: 1440px;
  height: 100%;
  margin: 0px;
  padding:0px;
  margin: 0 auto;
	z-index:-10;
}

.section-full{
	padding-top:40px;
}

html{
	background:#fff;
}

.medium-container-ch h2{
	font-size: 2rem;
	line-height: 55px;
	margin: 0; padding: 0;
}

.medium-container{
	padding:0 20px;
}

.header-mobile{
	padding:60px 40px 0 40px;
	display:block;
}
.pull-tech-img{
	margin:0;
}
.image-double img{
	padding:20px 0 20px 0;
	margin:0;
}


.header-desktop{
	display:none;
}

.header-mobile{
	display: block;
}

.project-img{
	top:200px;
}

.challenge-container{
	padding: 80px 40px 0 40px;
	display:flex;
}

.pull-tech{
	margin:40px 40px 40px 40px;
}

h4{
	padding:0px 0 20px 0;
}


}
.pull-tech-text h2{
	font-size: 1.8rem;
	line-height: 45px;
	padding:0;
}

.pull-tech-drawing{
	padding:30px 0 0 0;
	width:100%;
}

.flex-sb{
	flex-direction:column;
	align-items: center;
}
.pull-tech-drawing-c{
	max-width: 150px;
}
.section-padding{
	padding: 40px 40px 0 40px;
}
.pull-quote{
	margin:80px 40px;
}
.pull-quote h2{
	font-size: 1.8rem;
	line-height: 45px;
	padding:0;
}

.skateboard-render-static{
	position:relative;
	width:100%;
	padding:0; margin: 0;
	max-width: 930px;
	display:block;
}

.skateboard-render{
	display:none;
}
.project-title{
	top:108px;
}
h1{
	font-size: 6.5rem;
}
.project-colour{
	margin-top:-70px;
}
.project-header{
	height:90vh;
}

}

@media only screen and (max-width: 1050px) {

h1{
	font-size: 6rem;
}

.project-title{
	top:50px;
}

}